/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { 
            label = "Base Layer";  
            bindings = <
                &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
            >;
        };
    };
};